@use 'index' as *;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	// ### Neutral
	--neutral-100: hsl(0, 0%, 100%);
	--neutral-300: hsl(0, 0%, 41%);
	--neutral-400: hsl(220, 13%, 13%);
	--neutral-700: hsl(219, 9%, 45%);
	--neutral-900: hsl(220, 14%, 75%);
	--neutral-200: hsl(223, 64%, 98%);
	--neutral-990-ligthbox: hsla(0, 0%, 0%, 0.75);

	//##### Primary
	--primary-orange: hsl(26, 100%, 55%);
	--primary-orange-opacity: hsla(359, 93%, 82%, 0.8);
	--primary-pale: hsl(25, 100%, 94%);

	--opacity: hsla(0, 0%, 14%, 0.639);

	// ### Font

	--font-family: 'Kumbh Sans', sans-serif;
	--fw-400: 400;
	--fw-700: 700;

	--fs: 16px;

	--block-050: 0.5em;
	--block-100: 1em;
	--block-150: 1.5em;
	--block-200: 2em;
	--block-250: 2.5em;
	--block-300: 3em;
	--block-350: 3.5em;
	--block-400: 4em;
	--block-450: 4.5em;
	--block-500: 5em;
	--block-550: 5.5em;
	--block-600: 6em;
	--block-650: 6.5em;

	--auto: auto;
	--center: center;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	min-height: 100vh;
	color: var(--neutral-100);
}

html {
	color-scheme: dark light;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

$breakpoints: (
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl,
);

body {
	font-size: var(--fs);
	font-weight: var(--fw-400);
	background-color: var(--neutral-100);
	color: var(--neutral-700);
	font-family: var(--font-family);
	line-height: 1.6;
	block-size: 100vh;
}

nav {
	margin-block-start: var(--block-150);

	@include mq(md) {
		margin-block-start: 0;
	}
}

.main {
	z-index: -1;
	@include mq(md) {
		margin-block-start: var(--block-250);
		margin-inline: 8.5em;
	}
}

.container {
	width: min(100%, 1440px);

	margin-inline: var(--auto);
	padding-inline: var(--block-200);

	@include mq(md) {
		padding-inline: var(--block-300);
	}
}

/*Helpers*/

.shopping-cart {
	background-color: var(--neutral-100);

	width: 300px;
	height: 300px;
	margin-inline: auto;
	box-shadow: 0 0 2em rgb(0 0 0 /0.1);
	border-radius: 10px;
}

.overlay {
	transition: all 350ms ease-out;
	&::before {
		content: '';
		position: absolute;
		inset: 0;
		height: 120%;
		width: 100%;
		background-color: rgb(0 0 0 /0.6);
	}
}

.line {
	@include mq(md) {
		&::before {
			content: '';
			position: absolute;
			display: block;
			left: 9.5em;
			top: 6em;
			width: 77.5%;
			margin-inline: auto;
			border-bottom: 1px solid rgb(0 0 0 /0.1);
		}
	}
}

.header-column {
	flex-direction: row;

	justify-content: space-between;
	align-items: var(--center);
}

.bordered {
	object-fit: cover;

	@include mq(md) {
		border-radius: 10px;
	}
}

.close {
	padding-inline-start: var(--block-100);
	border: 0;
	background-color: transparent;
	cursor: pointer;

	transition: display 350ms ease-out;
}

.mobile__nav.close {
	translate: 0 0;
	transition: all 550ms ease-in-out;
}

.invisible {
	display: none;

	@include mq(md) {
		display: block;
	}
}
.row {
	display: flex;
	flex-direction: row;
}

.column-2 {
	flex-direction: row;

	justify-content: space-between;
	align-items: var(--center);

	@include mq(md) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.grid {
	display: grid;
}

.btn {
	font-weight: var(--fw-700);

	padding: 0.3em 1em;

	border-radius: 10px;
	border: 0;

	cursor: pointer;
	transition: all 350ms ease-out;

	&:hover:not(.cart__btn) {
		border: 1px solid var(--neutral-900);
		filter: opacity(.7);
		color: var(--neutral-900);
	}

	@include mq(md) {
		margin-inline: 0;
	}
}

.btn-checkout {
	display: block;
	width: 90%;
	margin-inline: auto;
	background-color: var(--primary-orange);
	margin-block-start: var(--block-250);
	padding: var(--block-050);
}

.avatar {
	width: 50px;
	object-fit: cover;
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.flow-050 :where(:not(:first-child)) {
	margin-block-start: var(--block-050);
}
.flow-100 :where(:not(:first-child)) {
	margin-block-start: var(--block-100);
}
.flow-200 :where(:not(:first-child)) {
	margin-block-start: var(--block-200);
}
.flow-300 :where(:not(:first-child)) {
	margin-block-start: var(--block-300);
}
.flow-400 :where(:not(:first-child)) {
	margin-block-start: var(--block-400);
}
.flow-500 :where(:not(:first-child)) {
	margin-block-start: var(--block-500);
}

.column-1 {
	flex-direction: column;

	@include mq(md) {
		flex-direction: row;
		align-items: center;
	}
}

/*Header*/

.header {
	margin-block-start: var(--block-100);

	@include mq(md) {
		margin-block-start: var(--block-250);
		margin-inline: var(--block-650);
	}
}

.hamburger {
	position: relative;
	margin-inline-start: var(--block-100);
	margin-block-start: 0.3em;
	width: 20px;

	cursor: pointer;

	@include mq(md) {
		display: none;
		margin-inline-start: 0;
	}
}
/*Product*/
.product {
	flex-direction: column;

	&__logo {
		align-items: center;
		justify-content: center;
		gap: var(--block-100);
	}

	&__logo-btn {
		display: block;
		border: 0;
		margin-inline-start: var(--block-100);
	}
}

/*Navigation*/

.mobile__nav {
	display: block;
	background-color: var(--neutral-100);

	flex-direction: column;
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	width: 50%;

	translate: -1000px 0;

	z-index: 9999;

	@include mq(md) {
		display: none;
		align-items: center;
		position: relative;
		background-color: transparent;
		height: 0;
		width: 100%;
	}

	&-link {
		text-decoration: none;
		color: var(--neutral-400);

		cursor: pointer;

		transition: color 350ms ease-in;

		&:hover {
			color: var(--neutral-700);
		}
	}

	&-list {
		margin-block-start: var(--block-450);
		margin-inline-start: var(--block-100);

		& > :not(:first-child) {
			margin-block-start: var(--block-100);
		}
	}
}

.mobile__nav[data-state='opened'] {
	display: block;
}
.mobile__nav[data-state='closing'] {
	display: block;
	translate: -1000px 0;
}
.mobile__nav[data-state='closed'] {
	display: none;
}

.nav {
	display: flex;
	align-items: center;
	margin-inline-start: var(--block-200);
	flex: 1 30%;
}

.primary__nav {
	display: none;
	background-color: transparent;

	@include mq(md) {
		display: block;
	}
}

/*Closing and opening mobile navigation*/

// .mobile__nav[data-state='opened'] {
// 	width: 60%;
// 	display: block;
// 	background-color: var(--neutral-100);
// 	position: fixed;

// 	right: 0em;
// 	top: 0;

// 	height: 100vh;

// 	translate: 0 0;
// 	transition: all 350ms ease;
// 	@include mq(md) {
// 		width: 100%;
// 		display: flex;
// 		justify-content: space-between;

// 		gap: 1em;
// 		position: static;
// 		background-color: transparent;
// 		height: 0;

// 		padding-block-start: 0;
// 	}
// }
// .mobile__nav[data-state='closing'] {
// 	display: block;
// 	translate: -1000px 0;

// 	@include mq(md) {
// 		width: 100%;
// 		display: flex;
// 		justify-content: space-between;

// 		gap: 1em;
// 		position: static;
// 		background-color: transparent;
// 		height: 0;
// 		translate: 0 0;
// 	}
// }

// .mobile_nav[data-state='closed'] {
// 	display: none;

// 	@include mq(md) {
// 		width: 100%;
// 		display: flex;

// 		justify-content: space-between;

// 		gap: 1em;
// 		position: static;
// 		background-color: transparent;
// 		height: 0;
// 		translate: 0 0;
// 	}
// }

// .primary-navigation {
// 	width: 100%;
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-between;
// }

.list {
	list-style: none;
	flex-direction: column;

	@include mq(md) {
		flex-direction: row;
	}

	.item {
		display: flex;

		justify-content: flex-start;
		// margin-inline-start: 1.5em;

		transition-duration: 0.5s;

		@include mq(md) {
			margin-inline-start: var(--block-150);
		}

		&:hover {
			cursor: pointer;
		}

		.head-link {
			font-size: clamp(0.9rem, 2.5vw, 1.1rem);
			display: inline-block;
			color: var(--neutral-300);

			margin-block-end: var(--block-100);
			margin-inline-start: var(--block-100);
			text-decoration: none;

			transition: color 350ms ease-in;

			&:hover {
				color: var(--neutral-900);
			}
		}

		.link {
			position: relative;
			font-weight: var(--fw-700);
			font-size: 0.8rem;
			text-decoration: none;
			color: var(--neutral-300);

			margin-inline-start: 0.5em;

			transition: color 350ms ease-out;

			&:hover {
				color: var(--neutral-900);
                transition: all 350ms ease;
				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 3.8em;
					width: 50px;
					height: 2px;

					border-bottom: 3px solid var(--primary-orange);
				}
			}
		}
	}
}

/*Cart*/

.cart {
	&__img {
		object-fit: contain;
		width: 20px;
	}

	&__btn {
		background-color: var(--neutral-100);
	}
}

/*Picture of man*/
.avatar {
	&__img {
		width: 30px;

		cursor: pointer;
transition: all 350ms ease-out;
		&:hover {
			border-radius: 100vh;
			border: 2px solid var(--primary-orange);
		}
	}
}

/*Hero*/
.hero {
	margin-block-start: var(--block-100);

	&__gallery {
		width: 70%;

		margin-block-start: var(--block-200);
		display: flex;
		gap: var(--block-150);
		justify-content: center;
		align-items: center;

		margin-inline: auto;
	}

	@include mq(md) {
		// order: 2;
	}

	.marked {
       border: 2px solid var(--primary-orange);
	}

	&__img {
		position: relative;
		z-index: -1;
		@include mq(md) {
			width: 70%;
		}

		// display: block;

		margin-inline: auto;

		&-mobile {
			@include mq(md) {
				display: none;
			}
		}
		&-desktop {
			display: none;
			@include mq(md) {
				width: 100%;
				display: block;
			}
		}
	}

	&__gallery-img {
		display: none;
		@include mq(md) {
			max-width: 72.5px;
			display: block;
            transition: all 350ms ease-in-out;
			&:hover {
				filter: opacity(.5);
			}

			// &:not(:first-of-type) {
			// 	 margin-inline-start: var(--block-250);
			// }
		}
	}
}

/*Sneakers*/
.sneakers {
	&__content > * {
		margin-block-end: var(--block-050);
	}

	&__subtitle {
		font-size: clamp(0.8rem, 3.5vw, 1rem);
		letter-spacing: 1px;
		text-transform: uppercase;
		color: var(--primary-orange);
	}
	&__title {
		font-size: clamp(1.6rem, 3.5vw, 2.8rem);
		font-weight: var(--fw-700);
		color: var(--neutral-400);
		line-height: 1.1;
	}

	&__text {
		font-size: clamp(0.8rem, 3.5vw, 1rem);
		line-height: 1.4;
	}

	&__price {
		align-items: center;
		gap: var(--block-050);
		background-color: transparent;
	}

	&__value {
		span {
			font-size: clamp(1.4rem, 3.5vw, 1.5rem);
			font-weight: var(--fw-700);
			color: var(--neutral-400);
		}
	}

	&__percentage {
		span {
			font-size: 0.85rem;
			font-weight: var(--fw-700);
			display: inline-block;
			color: var(--primary-orange);
			background-color: var(--primary-orange-opacity);

			padding: 0.02em var(--block-050);
			border-radius: 5px;
		}
	}

	&__total {
		span {
			font-size: 0.9rem;
			font-weight: var(--fw-700);
			color: var(--neutral-900);
			text-decoration: line-through;
		}
	}

	&__buttons {
		margin-block-start: var(--block-100);
		flex-direction: column;
		@include mq(md) {
			gap: var(--block-100);
			flex-direction: row;
			align-items: flex-end;
		}
	}

	.minus,
	.plus {
		font-weight: var(--fw-700);
		color: var(--primary-orange);
		border: 0;
		background-color: transparent;

		cursor: pointer;
	}

	.number {
		font-weight: var(--fw-700);
	}

	&_add_remove-btns {
		background-color: var(--neutral-200);
		padding: 0.5em;
		display: flex;
		justify-content: space-between;
		align-items: center;

		border-radius: 10px;

		@include mq(md) {
			flex: 1 35%;
		}
	}

	&__add {
		margin-block-start: var(--block-100);

		@include mq(md) {
			flex: 1 65%;
		}

		.btn {
			border-radius: 0;
			width: 100%;
			display: block;
		}
	}

	.btn-cart {
		font-weight: var(--fw-700);
		background-color: var(--primary-orange);
		border-radius: 10px;
		padding: 0.5em;
	}
}

/*Shopping Cart*/

.shopping__card.open {
	display: block;
}
.shopping__card {
	background-color: var(--neutral-100);
	display: none;
	position: absolute;
	top: var(--block-400);
	left: var(--block-300);
	margin-inline: auto;
	padding: var(--block-100);
	border-radius: 10px;
	box-shadow: 0 0 3em rgb(0 0 0 /0.2);
	margin-block-start: var(--block-200);

	z-index: 100;

	@include mq(md) {
		left: 70em;
	}

	&-title {
		text-transform: capitalize;
		font-size: 0.8rem;
		font-weight: var(--fw-700);
		color: var(--neutral-400);
		margin-inline-start: var(--block-100);
	}
	&-line {
		position: relative;
		margin-block-start: var(--block-050);

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: -1em;
			width: 113.5%;

			border-bottom: 1px solid rgb(0 0 0 /0.1);
		}
	}
	&-content {
		gap: var(--block-100);
		justify-content: center;
		align-items: center;
		margin-inline-start: var(--block-100);
		margin-block-start: var(--block-150);
	}
	&-img {
		img {
			width: 50px;
			border-radius: 10px;
		}
	}
	&-article {
		line-height: 1;
	}
	&-article-content {
		position: relative;
		align-items: flex-end;
		line-height: 1.3;

		img {
			position: absolute;
			top: var(--block-150);
			right: 0;
		}
	}
	&-title-2 {
		max-width: 150px;
		text-transform: capitalize;
		font-size: 0.7rem;
		line-height: 1.2;
	}
	&-price {
		span {
			margin-block-start: var(--block-050);
			font-size: 0.8rem;
			display: inline-block;
		}
	}
}

/*Arrows previous ,next*/

.hero__content {
	height: auto;
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		background-repeat: no-repeat;
		width: 100px;
		height: 100px;
	}

	&::before {
		top: 9.4em;
		left: 1.5em;
		background-image: url('../images/icon-previous.svg');

		@include mq(md) {
			left: 6em;
		}
	}
	&::after {
		top: 9.4em;
		right: -4em;
		background-image: url('../images/icon-next.svg');

		z-index: 100;

		@include mq(md) {
			right: 1em;
		}
	}
}
.hero__img {
	object-fit: cover;
}

/*Rounded shape*/
.rounded {
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 9em;

		border: 1px solid var(--neutral-100);
		border-radius: 100vh;
		background-color: var(--neutral-100);
		width: 30px;
		height: 30px;
	}

	&::before {
		left: 1em;

		@include mq(md) {
			left: 5.5em;
		}
	}
	&::after {
		right: 1em;

		@include mq(md) {
			right: 6em;
		}
	}
}
